p {
    font-size: 15px;
}
b {
    font-size: 17px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b !important;
    color: #fff !important;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px auto 190px;
    grid-template-areas: 
    "header"
    "mainContener"
    "footer";
}
#header {
    grid-area: header;
    background-color: rgb(15, 14, 14) !important;
}
#mainContener {
    grid-area: mainContener;
    background-color: #2b2b2b !important;
    padding: 0 300px;
    padding-bottom: 50px;
}
#footer {
    grid-area: footer;
    background-color: rgb(15, 14, 14);
    text-align: center;
}
#zasadyHeader {
    margin-left: calc(50% - 50px);
    font-size: 40px;
}
.container {
    width: 90%;
    min-width: 150px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333 !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1) !important;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #444 !important;
    color: #fff !important;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #555 !important;
  }
  th {
    background-color: #555 !important;
  }
  tr:nth-child(even) {
    background-color: #666 !important;
  }
  tr:hover {
    background-color: #777 !important;
  }
a:link, a:visited, a:active {
    color: #fff !important;
    font-weight: bold;
    text-decoration: underline;
}
a:hover {
  color: red !important;
  font-weight: bold;
  text-decoration: underline;
}
h2 {
    margin-left: 10px;
}
#usersHeader {
    margin-left: calc(50% - 170px);
}
@media (max-width:1200px) {
    #mainContener {
        grid-area: mainContener;
        background-color: #2b2b2b !important;
        padding: 0 200px;
        padding-bottom: 50px;
    }
}
@media (max-width:850px) {
    #mainContener {
        grid-area: mainContener;
        background-color: #2b2b2b !important;
        padding: 0 100px;
        padding-bottom: 50px;
    }
}
@media (max-width:650px) {
    #mainContener {
        grid-area: mainContener;
        background-color: #2b2b2b !important;
        padding: 0 10px;
        padding-bottom: 50px;
    }
}
@media (max-width:450px) {
    #footerParagraph {
        font-size: 12px;
    }
}
@media (max-width:375px) {
    #footerParagraph {
        font-size: 11px;
    }
}
@media (max-width:375px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #2b2b2b !important;
        color: #fff;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70px auto 130px;
        grid-template-areas: 
        "header"
        "mainContener"
        "footer";
    }
}
.wazneZasady {
    color: red !important;
}
